.posts-page ul {
  list-style: none;
}
.posts-page ul li a {
  transition: all .5s;
}

.posts-page ul li {
  transition: all .7s;

}
.posts-page ul li:hover {
  transform: translateX(15px);
}

.posts-page ul li:hover .post .post__text{
  color: rgb(247, 201, 171);
}