.post {
  padding: 2rem;
  margin: 2rem;
  box-sizing: border-box;
  box-shadow: 12px 12px 25px rgba(0, 0, 0, 0.199);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-color: rgba(252, 252, 252, 0.158);
 
}

.post__img{
  width: 30%;
}
.post__img img {
  max-width: 100%;
}

.post__content{
  padding: 2rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.post__content hr{
  width: 100%;
  height: 1px;
  border: none;
  background-color: rgb(219, 219, 219);
}

.post__title{
  font-size: 1.5rem;
  
  color: blue;
}

.post__text{
  font-size: 1rem;
}
